{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="margin-top:90px; font-size:50px">Privacy Policy</h1>

            <h2>Information we collect</h2>
            <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us. We will not sell or rent this information to anyone. We collect information from you when you place an order, respond to a survey or fill out a form, as appropriate, you may be asked to enter your:
            name, email address, or phone number.</p>

            <h2>How we use your information</h2>
            <p>Any of the information we collect from you may be used in one of the following ways: (a) Personalize your experience. (b) Better respond to your individual needs. (c) Improve our website. (d) Improve customer service. (e) Process transactions. (d) Send periodic emails.</p>

            <p>
              Your information will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the service requested.
            </p>

            <h2>Do we use cookies?</h2>
            <p>Nope.</p>

            <h2>How do we protect your information?</h2>
            <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. We implement a variety of security measures to maintain the safety of your personal information.</p>

            <h2>Do we disclose any information to outside parties?</h2>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does
            not include trusted third parties who assist us in operating our website, conducting our business, or servicing you,
            so long as those parties agree to keep this information confidential. We may also release your information when we believe
            release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or
            safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising,
            or other uses.</p>

            <h2>Third party links</h2>
            <p>Occasionally, at our discretion, we may include or offer third party products or services on
            our website. These third party sites have separate and independent privacy policies. We therefore have no
            responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the
            integrity of our site and welcome any feedback about these sites.</p>

            <h2>Online Privacy Policy Only</h2>
            <p>This online privacy policy applies only to information collected through our website and not to information
            collected offline.</p>

            <h2>Your Consent</h2>
            <p>By using our site, you consent to our websites privacy policy.</p>

            <h2>Changes to our Privacy Policy</h2>
            <p>If we decide to change our privacy policy, we will post those changes on this page. Last Updated on December 26th, 2015</p>

            <h2>Contacting Us</h2>
            <p>If there are any questions regarding this privacy policy you may contact us here: <a href="mailto:hello@samrose.me">hello@samrose.me</a></p>
        </div>
    </div>
</div>

{% endblock %}